<a href="https://colab.research.google.com/github/tumblinger/3DPortfolio/blob/main/Python_Day_JDA2023_Team5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#first code in python

In [ ]:
print('Hello')

Hello

In [ ]:
type(-1000)

int

In [ ]:
type(3+2j)

complex

In [ ]:
type(4.5+3.14j)

complex

In [ ]:
type(3.0)

float

In [ ]:
name = str('news')

In [ ]:
name

'news'

In [ ]:
#Write a Python code to return your Python version
import sys
print(sys.version)

3.8.10 (default, Nov 14 2022, 12:59:47)
[GCC 9.4.0]

In [ ]:
#Write a Python code to declare variable id="513".
#Print the following statement "customer id =513". [Don't use print("customer id

id = '513'
print('customer id = ' + id)

customer id = 513

In [ ]:
#Run the following statement, why there is an error
id=id+1

TypeError: ignored

In [ ]:
#Convert the variable id into an integer, increment it by 1.
#Assign the result to variable new_id.
#Print the new_id
print(int(id) + 1)
id = int(id) + 1
print(id)

515
515

In [ ]:
#Write a Python code to print the following string in a specific format (see the
# Twinkle, twinkle, little star,
# How I wonder what you are!
# Up above the world so high,
# Like a diamond in the sky.
print('Twinkle, twinkle, little star,\n \t How I wonder what you are! \n \t \t Up above the world so high, \n \t \t \t Like a diamond in the sky.')

Twinkle, twinkle, little star,
 	 How I wonder what you are!
 	 	 Up above the world so high,
 	 	 	 Like a diamond in the sky.

In [ ]:
print('hello \n world')

hello
 world

In [ ]:
#Givin the following string variable, # Print the first element in the string
course="Python for Data Science"
print(course[0])

P

In [ ]:
# Print the element on the 13th index in the string
course[13]

't'

In [ ]:
# Find the length of string
len(course)

23

In [ ]:
# Print the last element in the string [use negative index]
course[-1]

'e'

In [ ]:
# Take the slice on variable course with only index 11 to index 14
course[11:15]

'Data'

In [8]:
# Get every third element in the range from index 0 to index 20
course="Python for Data Science"
course[:21:3]

'Ph ra i'

In [10]:
# Concatenate course string with ", AI & Development"
conc = course + ", AI & Development"
print(conc)

Python for Data Science, AI & Development

In [12]:
# Replace all the spaces with (_). New string should looks like"Python_for_Data_S
conc.replace(' ', '_')

'Python_for_Data_Science,_AI_&_Development'

In [14]:
# Convert all the characters in string to upper case
conc.upper()

'PYTHON FOR DATA SCIENCE, AI & DEVELOPMENT'